<div id="footer">
	<div class="content">
		<div class="contact">
			<p>Call me: (740) 591-8318</p>
			<p>Email me: messinacovers@gmail.com</p>
			<p>Friend me on <a href="#">Facebook</a></p>
			<p class="address">
				Messina Covers<br />
				P.O. Box 2627<br />
				Athens, OH 45701
			</p>
		</div>
	
		<div class="info">
			<%# Current year from application_helper.rb %>
			<p class="copy">&copy; Copyright <%= current_year %>, Messina Covers</p>
			<p>Designed and developed by:</p>
			<p>Alex Okolish <a href="mailto:ao140505@ohio.edu">ao140505@ohio.edu</a></p>
		</div>
	</div>
</div>