<head>
	<meta charset=utf-8>
	<title>Messina Covers - <%= @title || params[:action] %></title>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag 'global', 'static', 'accordion', 'colorbox', :cache => true %>

	<% if params[:action] == 'distributors' %>
		<%# Only include google maps api on this page %>
		<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<% end %>
	<%= csrf_meta_tag %>
	
	<!--
		TODO : uncomment Google Analytics
	-->
	
	<!-- <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20835934-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script> -->
</head>