/*************
	HomePage
*************/

.index .content-wrap {
	background: url("../images/dave_with_bag.png") 35px 18px no-repeat;
}

.index .intro {
	float: right;
	width: 410px;
	margin-left: 500px;
	padding: 30px;
}

#primary-content h1,
.index #touts h1,
.intro h1 {
	font-size: 34px;
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
}

.index #touts {
	clear: both;
	height: 357px;
}

.index #touts div {
	float: right;
	width: 250px;
	margin: 74px 0 0 20px;
}

.index #touts .last {
	margin-left: 0px;
}

.index #touts h1 {
	text-align: center;
}

/*************
	Construction
*************/

.construction .content-wrap {
	position: relative;
}

.construction .intro {
	width: 675px;
	margin-top: 20px;
	overflow: hidden;
}

.construction .intro .one,
.construction .intro .two {
	float: left;
}

.construction .intro .one {
	width: 270px;
}

.construction .intro .two {
	width: 380px;
	padding-left: 15px;
}

.construction .intro h2 {
	font-family: Georgia, arial, serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 15px;
}

.construction .intro .two h2,
.construction .intro .two p {
	width: 275px;
}

.construction .intro .two h2:first-child,
.construction .intro .two p:first-of-type {
	width: 100%;
}

.construction .intro .two h2.last,
.construction .intro .two p.last {
	width: 220px;
}

.construction .intro #bass {
	position: absolute;
	top: 25px;
	right: 0;
}

.construction #features {
	margin-top: 60px;
	overflow: hidden;
}

.construction #features .feature {
	float: left;
	width: 280px;
	margin: 25px 20px 0 0;
}

.construction #features div.last {
	margin-right: 0;
}

.construction #features img {
	border-radius: 18px;
	width: 280px;
	height: 280px;
}

.construction #features h2 {
	font-size: 18px;
	font-weight: normal;
	margin-top: 15px;
}

.construction #features p {
	margin-top: 10px;
}

/*************
	Gallery
*************/

.gallery #primary-content .content-wrap {
	width: 880px;
}

.gallery #primary-content h1 {
	border: none;
	text-align: center;
	background: url("../images/gallery_header_bg.png") center no-repeat;
	margin-bottom: 25px;
}

.gallery #primary-content a.cboxElement {
	width: 160px;
	height: 160px;	
	text-decoration: none;
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 1000ms;
}

.gallery #primary-content a.cboxElement:hover {
	text-decoration: none;
	/*
		TODO determine the real hover state of this element
	*/
	/*opacity: .8;*/	
	opacity: .6;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 400ms;
}

.gallery #primary-content img {
	border-radius: 18px;
	width: 160px;
	height: 160px;
	background: black;
/*	margin-right: 17px;*/
	margin: 0 17px 17px 0;
}

.gallery #primary-content img.last {
	margin-right: 0;
}

/*************
	Sizes
*************/

.sizes .intro {
	float: left;
	width: 410px;
}

.sizes .intro h1 {
	padding-top: 25px;
}

.sizes .intro h1:first-child {
	padding-top: 0;
}

.sizes .intro ul {
	float: left;
	width: 125px;
	padding-top: 10px;
	list-style-type: none;
	font-size: 18px;
	font-family: Georgia, arial, serif;;
	line-height: 25px;
}

.sizes .intro ul.prices li:before {
	content: "-";
	margin-right: 35px;
}

.sizes #primary-content img {
	float: right;
	position: relative;
	top: -30px;
}

.sizes .divider {
	background: url("../images/sizes_header_bg.png") center no-repeat;
	clear: both;
}

.sizes #primary-content .divider h1 {
	text-align: center;
	background-color: transparent;
	border: none;
}

.sizes .sizes-table {
	font-family: Georgia, arial, serif;
	border-collapse: collapse;
	background: #FFF;
	margin-top: 25px;
	width: 940px;
}

.sizes .sizes-table tr {
	padding: 0 10px;
}

.sizes .sizes-table thead tr {
	border-bottom: 1px solid #BBB;
}

.sizes .sizes-table thead tr th:first-child {
	text-align: right;
}

.sizes .sizes-table thead tr th {
	padding: 20px 15px 15px;
}

.sizes .sizes-table tr th:first-child {
	padding-left: 30px;
}

.sizes .sizes-table tr th:last-child {
	padding-right: 30px;
}

.sizes .sizes-table td,
.sizes .sizes-table th {
	padding: 7px 7px;
	border-left: 1px solid #BBB;
}

.sizes .sizes-table tr th:first-child {
	border-left: none;
}

.sizes .sizes-table td {
	text-align: center;
}

.sizes .sizes-table tbody th {
	text-align: right;
	margin: 10px;
	padding-right: 25px;
}

.sizes .sizes-table tbody tr:nth-child(2n+2) {
	/*gray bg for even rows*/
	background: #EEE;
}

.sizes .sizes-table tbody tr:nth-child(-n+14):hover {
	/*
		Will not work in all browsers - 
		Makes all rows except the first and last ones clickable
	*/
	cursor: pointer;
}

.sizes .sizes-table tbody tr.selected,
.sizes .sizes-table tbody tr.highlight {
	/*added via js*/
	background: #FAE991;
}

.sizes .sizes-table tr.last td {
	text-align: left;
	font-size: smaller;
	padding: 10px 40px 20px 25px;
	border-top: 1px solid #BBB;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;		
	background: #FFF;
	border-left: none;
}

/*************
	Distributors
*************/
.distributors .intro {
	margin: 0 60px 135px 0;
	width: 330px;
	float: left;
}

.distributors .intro h1 {
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
}

.distributors #accordion {
	width: 460px;
	padding: 0;
	margin-bottom: 60px;
	float: right;
	border: 1px solid black;
	background: black url("../images/accordian_bg.png") no-repeat;
}

#map_canvas { 
	clear: both;
	height: 450px; 
	width: 960px; 
	font-family: Arial, sans-serif;
}

#map_canvas .info { 
	font-size: 14px;
	display: block;
}
	
/*************
	Custom
*************/

.custom .column1 {
	width: 460px;
	float: left;
}

.custom .column2 {
	width: 380px;
	float: right;
}

.custom .prices {
	margin-top: 60px;
}

.custom .prices table {
	width: 350px;
	font-family: Georgia, arial, serif;
	margin-top: 25px;
}

.custom .prices thead {
	font-size: 20px;
	font-weight: normal;
}

.custom .prices thead th {
	font-weight: normal;
	text-decoration: underline;
	text-align: right;
}

.custom .prices thead th:first-child {
	text-align: left;
}

.custom .prices tbody tr td {
	padding: 2px 0 2px 20px;
	text-align: right;
}

.custom .prices tbody tr:first-child td,
.custom .prices tr.color td {
	padding-top: 20px;
}

.custom .prices tr td:first-child {
	text-align: left;
	padding-left: 0;
}

.custom .prices tr.last th {
	text-align: right;
	font-weight: normal;
	padding: 10px 0;
}

.custom .prices tr.last td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
} 

.custom .features h1 {
	margin-bottom: 15px;
}

.custom .features p {
	font-size: 28px;
	font-family: 'Lobster', arial, serif;;
	line-height: 78px;
	background: url("../images/checkmark.png") 300px 18px no-repeat;
}

.custom .features p span {
	font-size: 14px;
	font-family: Georgia, arial, serif;
}

.custom .colors {
	margin-top: 60px;
}

.custom .colors > div {
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}

.custom .colors h2 {
	font-family: 'Lobster', arial, serif;
	float: left;
	padding: 67px 0 67px 15px;
	font-size: 26px;
	font-weight: normal;
}
.custom .colors img {
	float: right;
}

.custom .colors .custom-colors {
	margin-top: 25px;
}

.custom .colors .custom-colors p {
	font-size: 16px;
	padding-top: 15px;
}

.custom .prices p {
	padding-top: 8px;
	font-size: 12px;
}