<div class="intro">
	<h1>Find A Shop</h1>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nos esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Ut wisi enim ad minim veniam, quis nos esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
	<p>Ut wisi enim ad minim veniam, quis nos esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te fe</p>
</div>

<div id="accordion">
	<div>
		<h3><a href="#">A&amp;G Music Products Co.</a></h3>
		<div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
	</div>
	<div>
		<h3><a href="#">The Bass Doctor</a></h3>
		<div>Phasellus mattis tincidunt nibh.</div>
	</div>
	<div>
		<h3><a href="#">Bob’s House of Basses</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
	<div>
		<h3><a href="#">The Cincinnati Bass Cellar</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
	<div>
		<h3><a href="#">Heartland String Bass Shop</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
	<div>
		<h3><a href="#">The Loft Violin Shop</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
	<div>
		<h3><a href="#">New Standard Instrument Co</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
	<div>
		<h3><a href="#">Nick LLoyd Basses</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
	<div>
		<h3><a href="#">Steven Reiley at Guaneri House</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
	
</div>


<div id="map_canvas"></div> 